<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><b>About</b></h3>
    </div>
    <div class="panel-body">
        Matrix is an microservices platform and a chassis framework with built-in boilerplate modules, such as:
        <br />
        <br />
        <ul>
            <li>Registry - repository for business applications and services</li>
            <li>Configurator - repository for administration and management of application configuration settings</li>
            <li>Directory - repository for the management of application users, user profiles, user groups and user roles</li>
            <li>Journal - repository for application events, audit and debug logs</li>
            <li>Postman - communication manager for email, phone messages or text messages, slack notifications, etc</li>
        </ul>
    </div>
</div>