backend-access-key: <azure blob storage access key>
git-password: |-
  -----BEGIN OPENSSH PRIVATE KEY-----
  -----END OPENSSH PRIVATE KEY-----

# azure credentials
azure_subscription_id: <azure subscription id>
azure_tenant_id: <azure tenant id>
azure_client_id: <azure application client id>
azure_client_secret: <azure application client secret>

# aws credentials
aws-access-key-id: <aws access key id>
aws-secret-access-key: <aws secret access key>

# gcp credentials
gcp-service-account-key: <gcp service account key>